# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Generated provider
provider/terraform-provider-sdk

# Provider related:
provider/config/terraform.d
provider/config/.terraform
provider/config/.terraform.lock.hcl
provider/config/terraform.tfstate
provider/config/terraform.tfstate.backup

# Server related
server/superdupercloud.db
